<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ov3rk1ll.kinocast"
    tools:ignore="ImpliedTouchscreenHardware,MissingLeanbackSupport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".CastApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="MissingTvBanner">
        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="id=496798169392" />
        <meta-data
            android:name=
                "com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.ov3rk1ll.kinocast.ui.util.CastOptionsProvider"
            />

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ov3rk1ll.kinocast.ui.MainActivity" />
        </activity>
        <!-- <activity
            android:name="com.google.android.libraries.cast.companionlibrary.cast.player.VideoCastControllerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ov3rk1ll.kinocast.ui.DetailActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> -->

        <activity
            android:name=".ui.SettingsActivity"
            android:theme="@style/SettingsTheme"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ov3rk1ll.kinocast.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.CastExpandedControllerActivity"
            android:theme="@style/Theme.CastVideosTheme"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ov3rk1ll.kinocast.ui.MainActivity" />
        </activity>

        <activity android:name=".ui.OrderHostlistActivity" android:label="@string/order_hostlist"></activity>

        <activity
            android:name=".ui.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_player"
            android:parentActivityName=".ui.DetailActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ov3rk1ll.kinocast.ui.DetailActivity" />
        </activity>

        <activity
            android:name=".ui.DeeplinkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme"
            android:launchMode="singleTask" android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ov3rk1ll.kinocast.ui.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="vivo.sx" android:pathPattern="/.........." />
                <data android:scheme="https" android:host="vshare.eu" android:pathPattern="/.*\.htm" />
                <data android:scheme="https" android:host="oload.fun" android:pathPattern="/embed/.*" />
                <data android:scheme="https" android:host="rapidvideo.com" android:pathPattern="/e/.*" />
                <data android:scheme="https" android:host="www.rapidvideo.com" android:pathPattern="/e/.*" />
                <data android:scheme="https" android:host="vidoza.net" android:pathPattern="/............*" />
            </intent-filter>

        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>